body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050505;
  color: white;
}

/* HEADER */
.top-header {
  background: black;
  padding: 25px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 55px;
  letter-spacing: 5px;
  margin: 0;
}

.menu {
  margin-top: 15px;
}

.menu a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
}

.search-area input {
  margin-top: 15px;
  padding: 15px;
  width: 80%;
  max-width: 500px;
  border: none;
  background: #222;
  color: white;
}

/* HERO */
.hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1520975958225-8d6e5a82b4b4?q=80&w=1600")
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(0,0,0,0.7);
  padding: 50px;
  text-align: center;
}

.hero-text h2 {
  font-size: 55px;
}

.hero-text button {
  padding: 15px 40px;
  background: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* TITULOS */
.titulo {
  text-align: center;
  font-size: 40px;
  margin: 60px 0 30px;
}

/* PRODUTOS */
.grid-produtos {
  padding: 20px;
}

#lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: #111;
  border: 1px solid #333;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.card button {
  padding: 12px;
  width: 100%;
  background: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* LOJA */
.loja-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.loja-grid img {
  width: 100%;
  border-radius: 8px;
}

.texto {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

/* FOOTER */
footer {
  background: black;
  padding: 40px;
  text-align: center;
  margin-top: 50px;
}